#App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

Button {
  color: white;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
}

Input {
  border-radius: 5px;

  margin: 5px 0px;
  padding: 3px;
}